@font-face {
    font-family: 'Cyberpunk';
    src: url(Cyberpunk.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*body text font */

* {
    margin: 0;

}

html{
    scroll-behavior: smooth;
}

.banner {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
}

/*the banner container*/

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('pictures/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

.bannereffect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid rgba(14, 92, 147, 0.9);
    z-index: 1;
}

/* make sure the elements inside are aligned vertically and centralized*/

.bannereffect h1 {
    position: absolute;
    text-align: center;
    font-family: "Cyberpunk";
    font-size: calc(3vw + 1vh);
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to right, #aaa2e1, #00ffb3);
    background-clip: text;
    filter: drop-shadow(0px 12px 5px rgb(1, 75, 41));
}

#guide {
    position: absolute;
    top: calc(1em + 1vh);
    left: 3%;
    width:clamp(0.1vw, calc(1em + 1vw), 8%);
    mix-blend-mode: multiply;
    z-index: 1;
}



    .buttoncontainer {
        position: absolute;
        top:0;
        display: grid;
        width: clamp(0.1vw, calc(15% - 1vw), 20%);
        grid-template-rows: repeat(4,1fr);
        align-items: center;
        row-gap: 0.2em;
        height: auto;
         z-index: 2;
        visibility: hidden;
        top: calc(1em + 1vh);
        left: 3%;
    }


    /*define the container as flex model, make sure all the elements inside is space-evenly and 
    attach bottom as we want */
    .buttoncontainer button {
        justify-content: center;
        align-items: center;
        font-size: calc(0.8vw + 0.5vh);
        min-width: calc(1vw + 1vh);
        height: calc(1vw + 1vh);
        color: #3adeb5;
        font-family: 'Josephin Sans';
        background: linear-gradient(to bottom right, #eb7f7f, #158974);
        opacity: 89%;
        border-style: none;
        border-radius: 10px;
        padding: 0.1em;


}

/* centralize the button icon, box shadow and color*/
button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 13px 0px rgba(19, 18, 18, 0.8);
    transition: all .3s ease-in-out;
    filter: drop-shadow(0px 8px 6px rgba(3, 105, 183, 0.7))
}

/*button hover include box shadow and popping out */
section {
    display: block;
    position: relative;
    width: 92%;
    min-height:100vh;
    margin-top: 20px;
    z-index: 0;
    padding-left: 8%;

}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, #233288, #be10dd);
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

/* the body pesudo and real body paragraph, to make sure the container has base color and not over the content */

section p {
    position: relative;
    font-family: 'Josefin Sans';
    font-size: clamp(0.2em, calc(3vw - 1.1em), 1.1em);
    color: rgb(237, 221, 44);
    line-height: 1.9;
    filter: drop-shadow(0px 8px 6px rgba(13, 143, 155, 0.7));
}

section h2, h3, h4 {
    font-family: 'Cyberpunk';
    font-size: clamp(0.6em, calc(3vw - 0.1em), 2.1em);
    color: rgb(52, 224, 230);
    line-height: 2.1;
    filter: drop-shadow(0px 12px 5px rgb(1, 75, 41));
}

section .headshot {
    position: absolute;
    display: block;
    top: 0;
    width: clamp(15%, calc(15% + 2vw), 20%);
    height: 160%;
    right: 4%;
}

.headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}


.icon img {
    display: block;
    width: 100%;
    height: auto; 
   
}

.icon {
    width: 40%;
    display: inline-flex;
    gap: 7%;
    margin-top: 0.8em;
}

.icon button, .ins, .wechat{
    position: relative;
    padding: 0;
    mix-blend-mode: multiply;
    display: inline-flex;
    width: calc(2.7vw);
    height: calc(2.7vw - 2.1668px);
    justify-content: center;
    align-items: center;
    border: none;


}

.ins:hover #inspic, .wechat:hover #wxpic {
    opacity: 0;
}


.ins:hover #shr, .wechat:hover #shrwx{
    transform: scale(4);
    opacity: 1;
}

p.covering, button.covering {
    opacity: 0.3;
}

.ins #inspic, .wechat #wxpic{
    position: relative;
    z-index: 0;
    transition: opacity 0.8s ease-in;
}

.ins #shr, .wechat #shrwx {
    top: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.9s ease-in-out, transform 1.9s ease-in-out;
}/* ins effects */

section> .edu{
    display: grid;
    position: relative;
    width:100%;
    height: calc(20vw + 8vh);
    grid-template-columns: repeat(auto-fill, minmax(33%, 33%));
    grid-gap: 5%;
}

.edu .BU, .edu .undecided{
    display: flex;
    position: relative ;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    transition: all .4s ease-in-out;
    z-index: 1;
   
}
.BU::after, .undecided::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background: url(pictures/matrix.jpg) no-repeat center;
    background-size: cover;
    opacity: 0;
    z-index: 2;
    transition: all .5s ease-in-out;
} 
/* pesuedo layer of .BU with black overlay, z-index is 2 */

.BU #bu, .undecided #undecided{
    display: block;
    position: absolute;
    max-width:100%; 
    max-height:100%; 
    z-index: 1;  
    mix-blend-mode: multiply;
    transition: all .5s ease-in-out;
}

.BU:hover #bu, .undecided:hover #undecided{
    transform:scale(1.1);
    opacity: 0.4;
}   
.BU:hover::after, .undecided:hover::after{
    transform: scale(1.1);
    opacity: 0.75;
}

.BU:hover p, .undecided:hover p{
    opacity: 1;
}
.BU p, .undecided p{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:3;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.skills {
    display: flex;
    position: relative;
    width: 100% ;
    min-height: 10vh;
    margin-left: 1%;
    gap:5%;
}
.skills .java{
    display: flex;
    width: calc(10vw);
    height: calc(10vw - 2.1668px);
    align-items: center;

}
.skills img {
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;

}
